{% extends "recyclinghistorypage/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Profile - Recycling History</title>
    <style>
    table, th, td {
        border: 1px solid black;
}
</style>
</head>
<body>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="text-left g-3">
                <button type="button" class="btn btn-outline-danger border-3 btn-lg">Back to Map</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3 g-3">
                <div class="row border border-secondary border-1">
                    <img src="Progress.png" class="img-fluid">
                    <p class="text-center">Insert photo here</p>
                </div>
                <div class="row">
                    <p class="text-center">Insert username here</p>
                </div>
                <div class="row">
                    <h1>Recycling History</h1>
                    <p> {{ database_info.first }} </p>
                </div>




                <div class="row g-3">
                    <button type="button" class="btn btn-outline-success border-3 btn-lg">Add New Entry</button>
                    <a href="http://127.0.0.1:8000/treeinterface/"><button type="button" class="btn btn-outline-success border-3 btn-lg">My Tree</button></a>
                </div>
            </div>
            <div class="col-9 g-3">
                <table class="table table-success table-striped table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Date</th>
                            <th scope="col">Location</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Waste Category</th>
                        </tr>
                    {% for info in recycling_info %}    
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ info.index }}</td>
                                <td>{{ info.date }}</td>
                                <td>{{ info.location }}</td>
                                <td>{{ info.weight }}</td>
                                <td>{{ info.waste_category }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock content %}