{% extends "database/base.html" %}

{% load crispy_forms_tags %}

{% block content%}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">What are you recycling today?</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary btn-block text-center" style="margin-top:20px;" type="submit">Recycle!</button>
    </div>
  </form>
</div>
{% endblock content %}
